* {
    box-sizing: border-box;
}

.heading {
    height: 249px;
    width: 1264px;
    display: inline-block;
    /*border: 3px solid red;*/
}

.title {
    text-align: center;
    font-size: 100px;
    color: khaki;
    font-family: Helvetica;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 1;
    width: 1264px;
    height: 115px;
    margin-top: 67px;
    margin-bottom: 67px;

}

.img {
    display: block;
    z-index: 0;
}

.heading img {
   /* display: inline-block;*/
    position: absolute;
    overflow: hidden;
    height: 115px;
    width: 1264px;
    margin-top: 67px;
    z-index: 0;
}

.brushes {
    color: white;
    font-family: Helvetica;
    font-size: 32px;
    background-color: mediumspringgreen;
    position: relative;
    margin-top: 10px;
    z-index: 1;
}

.h-brush {
    padding-top: 35px;
}

.a {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frame-pic {
    padding-top: 35px;
}

.paint {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint-tubes {
    padding-top: 35px;
}

